# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/raw/database.sqlite
data/raw/database_demo.sqlite
data/processed/
data/external/

# Models
/models/
*.pkl

# OS files
Thumbs.db
.DS_Store

# Environment variables
.env
.env.local